#show {
    display: flex;
    top: 0;
    transition: all 4s ease-in;
    flex-direction: column;
    height: 100vh;
    background: rgba(0, 0, 0, 0.877);
    z-index: 3;
    position: fixed;
    width: 100%;
    li {
        list-style: none;
        font-size: 3.5rem;
        color: rgb(158, 172, 255);
        align-items: center;
        justify-content: space-evenly;
        margin: 2% auto;
        cursor: pointer;
    }
}

nav ul {
    display: none;
}

#show li {
    font-size: 2rem;
}

.burger {
    z-index: 5;
    position: fixed;
    right: 0;
    cursor: pointer;
    top: 0;
    .line {
        width: 35px;
        margin: 2px auto;
        height: 3px;
        border-radius: 20%;
    }
}